.home-component {
  .carousel {
    a {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .input-with-extra{
    .am-input-extra{
      max-height: unset;
    }
  }
}
